In [87]:
import numpy as np
import pandas as pd
import matplotlib
%matplotlib inline

import seaborn 
seaborn.set()

import xlrd
import xlsxwriter

C:\Users\RobinG\AppData\Local\Continuum\Miniconda3\lib\site-packages\IPython\html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [62]:
df = pd.DataFrame()

In [8]:
dat = pd.read_csv('../2016/annual survey submittals/2015 City of Bellevue survey.csv', encoding = "ISO-8859-1")

In [57]:
dat.head()

,FLEET:,Unnamed: 1,Unnamed: 2,City of Bellevue,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Each year Western Washington Clean Cities cond...,NaN,NaN,NaN,NaN,NaN
1,NaN,CATEGORY ONE: VEHICLES / EQUIPMENT,NaN,NaN,NaN,NaN,NaN
2,NaN,1. Light Duty Vehicles,How many alternative-fuel light-duty vehicles ...,NaN,NaN,NaN,NaN
3,NaN,Category,Fuel Type,CY2014,CY2015,Notes,NaN
4,NaN,Light Duty Vehicles,CNG,0,0,NaN,NaN

In [13]:
dat.shape

(82, 7)

In [84]:
member = dat.columns[3]; member

'City of Bellevue'

In [77]:
dat.ix[4,{2,3,4}]

Unnamed: 2          CNG
City of Bellevue      0
Unnamed: 4            0
Name: 4, dtype: object

In [90]:
dat.ix[4]

FLEET:                              NaN
Unnamed: 1          Light Duty Vehicles
Unnamed: 2                          CNG
City of Bellevue                      0
Unnamed: 4                            0
Unnamed: 5                          NaN
Unnamed: 6                          NaN
Name: 4, dtype: object

In [95]:
dat.ix[4,1]

'Light Duty Vehicles'

In [96]:
myList = [1,2,3,4]

In [97]:
myList[2]

3

In [107]:
myList[::2]

[1, 3]

In [109]:
isinstance(myList,list)

True